*{
    margin:0px;
    padding:0px;
    border:0px;
    outline:none;
}

ul, ul li{ list-style-type:none; }

body{
    background:url("img/bg-site.jpg") repeat 0px 0px;
}
/* FONTES */
@font-face {
    font-family: 'DobraBold';
    src: url('fontes/dobra-bold-webfont.eot');
    src: url('fontes/dobra-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/dobra-bold-webfont.woff') format('woff'),
         url('fontes/dobra-bold-webfont.ttf') format('truetype'),
         url('fontes/dobra-bold-webfont.svg#DobraBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DobraBook';
    src: url('fontes/dobra-book-webfont.eot');
    src: url('fontes/dobra-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/dobra-book-webfont.woff') format('woff'),
         url('fontes/dobra-book-webfont.ttf') format('truetype'),
         url('fontes/dobra-book-webfont.svg#DobraBook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DobraLight';
    src: url('fontes/dobra-light-webfont.eot');
    src: url('fontes/dobra-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/dobra-light-webfont.woff') format('woff'),
         url('fontes/dobra-light-webfont.ttf') format('truetype'),
         url('fontes/dobra-light-webfont.svg#DobraLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* GERAL */
.wrapper{
    width:990px;
    margin:0 auto;
    position:relative;
}

/* TOPO */
#header{
    float:left;
    width:100%;
    height:163px;
    background:url('img/bg-topo.jpg') repeat-x 0px 0px;
    position:relative;
    z-index:2;
}

#header #guardaLogo{
    float:left;
    position:absolute;
    top:33px;
    left:45px;
}

#header #menuPrincipal{
    float:right;
    padding:125px 0px 0px 0px;
}
#header #menuPrincipal ul{ float:left; }
#header #menuPrincipal ul li{
    float:left;
    padding-left:3px;
}
#header #menuPrincipal ul li a{
    float:left;
    font-family: 'DobraBook';
    font-size:19px;
    color:#fff;
    text-decoration:none;
    text-transform:uppercase;
    padding:5px 15px 5px 25px;
}
#header #menuPrincipal ul li a.marcado,
#header #menuPrincipal ul li a:hover{
    background:#550d21 url("img/bt-menu.jpg") no-repeat 5px center;
}

/* CONTENT */
#sombraTopo{
    width:100%;
    height: 32px;
    background:url("img/sombra-topo.png") no-repeat center 0px;
    float:left;
}
#guardaNuvens{
    float:left;
    width:100%;
    background:url("img/nuvem.png") no-repeat center 185px;
}

#guardaBgHome{
    float:left;
    width:100%;
    background:url("img/bg-slider.png") no-repeat center 290px;
}

#guardaSliderHome{
    float: left;
    width:940px;
    height:350px;
    padding:0px 0px 75px 42px;
    position:relative;
}

#guardaSliderHome .setasHome{
    float: left;
    width:60px;
    height:60px;
    position:absolute;
    top:144px;
    background:url("img/setas-slider.png") no-repeat 0px 0px;
    z-index:2;
}

#guardaSliderHome #setaAnt{ left:74px; }
#guardaSliderHome #setaProx{
    right:32px;
    background-position:-819px 0px;
}

#guardaSliderHome #sliderHome{
    float:left;
    position:relative;
}

#guardaSliderHome #sliderHome img{
    position:absolute;
    top:0px;
    left:0px;
}

#newsProjetos{
    float:left;
    padding:0px 0px 90px 41px;
}

#newsProjetos #projetosPersonalizados{
    float:left;
    width:435px;
}

#newsProjetos #projetosPersonalizados p{
    float:left;
    width:390px;
    font-family:"Georgia";
    font-size:16px;
    color:#571e2e;
    padding:10px 0px 0px 30px;
}

#newsProjetos #projetosPersonalizados p strong{
    font-weight:bold;
    font-size:22px;
}

#newsProjetos #projetosPersonalizados a{
    float:left;
    display:inline-block;
    margin:3px 0px 0px 28px;
}

#newsProjetos #nossaNewsletter{
    float:left;
    width:370px;
    padding:10px 0px 0px 47px;
}

#newsProjetos #nossaNewsletter form{
    float:left;
    padding:30px 0px 0px 15px;
}
#newsProjetos #nossaNewsletter form input{
    float:left;
    width:312px;
    background:url("img/bg-input-newsletter.png") no-repeat 0px 0px;
    font-size:12px;
    font-family:"Arial"; 
    padding:11px 20px;
}

#newsProjetos #nossaNewsletter form #btCadastrarNews{
    float:right;
    padding:5px 0px 0px 0px;
}

/* FOOTER */
#footer{
    float:left;
    width:100%;
    height:123px;
    background:url("img/bg-rodape.jpg") repeat-x 0px 0px;
}

#footer #direitosRodape{
    float:left;
    padding:40px 0px 0px 60px;
}

#footer #direitosRodape p{
    float:left;
    font-family:"Georgia";
    font-size:12px;
    color:#461b25;
}

#footer #direitosRodape p span{ font-size:22px; }

#footer #guardaCurtir{
    float:right;
    padding:45px 26px 0px 0px;
}


/*
*++*
    SOBRE
*++*
*/
#guardaSobreAIncremento{
    width:874px;
    margin:0 auto;
}

#guardaSobreAIncremento .titulo{
    float: left;
    padding:0px 0px 0px 270px;
}

#guardaSobreAIncremento #sobreAIncremento{
    float:left;
    padding:85px 0px 25px 0px;
}

#guardaSobreAIncremento #sobreAIncremento p{
    float:left;
    font-family:"Georgia";
    font-size:18px;
    color:#505050;
    padding:0px 0px 25px 0px;
}

#guardaSobreAIncremento #sobreAIncremento p strong{
    font-size:23px;
    font-weight:bold;
}


/*
*++*
    SERVICOS
*++*
*/
.servicosIncremento #sobreAIncremento{
    width:100%;
}
.servicosIncremento p{ text-align: justify; }

.servicosIncremento ul#listaServicosImagens{
    float:left;
    width:100%;
    padding:0px 0px 30px 0px;
}

.servicosIncremento ul#listaServicosImagens li{
    float:left;
    width:206px;
    height:159px;
    background:#fff;
    border:1px solid #e2dfd9;
    margin:0px 14px 0px 0px;
}

.servicosIncremento ul#listaServicosImagens li.ultima{ margin-right:0px; }

.servicosIncremento ul#listaServicos{
    float:left;
    width:100%;
    padding:20px 0px 30px 0px;
}

.servicosIncremento ul#listaServicos li{
    float:left;
    width:306px;
    padding:0px 0px 5px 10px;
}

.servicosIncremento ul#listaServicos li.menor{
    width:230px;
}

.servicosIncremento ul#listaServicos li a{
    float:left;
    font-family:"Georgia";
    font-size:28px;
    font-weight:bold;
    color:#4a1a27;
    text-decoration:none;
}


/*
*++*
    CLIENTES
*++*
*/
.servicosIncremento ul#listaClientes li{
    float:left;
    width:209px;
    height:161px;
    margin:0px 12px 7px 0px;
}
.servicosIncremento ul#listaClientes li.ultima{ margin-right:0px; }


/*
*++*
    CONTATO
*++*
*/
#guardaFormularios{
    float:left;
    width:485px;
}
#guardaFormularios #guardaAbas{
    float:left;
    width:485px;
}
#guardaFormularios #guardaAbas ul{
    float:left;
    width:484px;
    height:67px;
    background:url("img/bg-abas.png") no-repeat center bottom;
}
#guardaFormularios #guardaAbas ul li{
    float:left;
    width:242px;
    height:67px;
}
#guardaFormularios #guardaAbas ul li a{
    float:left;
    width:242px;
    height:45px;
    background:url("img/sprite-abas-contato.png") no-repeat -242px 0px;
    text-align:center;
    padding:22px 0px 0px 0px;
}
#guardaFormularios #guardaAbas ul li a.marcado,
#guardaFormularios #guardaAbas ul li a:hover{
    background-position:0px 0px;
}

#guardaFormularios #guardaConteudoAbas{}
#guardaFormularios #guardaConteudoAbas .conteudoAba{
    float:left;
    padding:21px 0px 0px 0px;
    display:none;
}
#guardaFormularios #guardaConteudoAbas .conteudoAba ul{ float:left; }
#guardaFormularios #guardaConteudoAbas .conteudoAba ul li{
    float:left;
    width:475px;
    padding:0px 0px 5px 5px;
}
#guardaFormularios #guardaConteudoAbas .conteudoAba ul li a{
    float:right;
}
#guardaFormularios #guardaConteudoAbas .conteudoAba ul li label{
    float:left;
    width:475px;
    height:47px;
    background:url("img/bg-input-contato.png") no-repeat 0px 0px;
}
#guardaFormularios #guardaConteudoAbas .conteudoAba ul li label.mensagem{
    height:167px;
    background:url("img/bg-input-contato-mensagem.png") no-repeat 0px 0px;
}
#guardaFormularios #guardaConteudoAbas .conteudoAba ul li label span{
    float:left;
    font-family:"Georgia";
    color:#5c1f2f;
    font-size:14px;
    width:88px;
    text-align:right;
    padding:15px 5px 0px 0px;
}
#guardaFormularios #guardaConteudoAbas .conteudoAba ul li label input{
    float:left;
    padding:5px;
    width:360px;
    display:inline-block;
    margin:10px 0px 0px 0px;
}
#guardaFormularios #guardaConteudoAbas .conteudoAba ul li label textarea{
    float:left;
    padding:5px;
    width:360px;
    margin:10px 0px 0px 0px;
    overflow:hidden;
    height:135px;
}

#textoDireitaContato{
    float:left;
    width:240px;
    padding:140px 0px 0px 15px;
}

#textoDireitaContato p{
    float:left;
    text-align:left;
    font-family:"Georgia";
    font-size:16px;
    color:#571e2e;
}

#textoDireitaContato p strong{
    font-weight:bold;
    font-size:22px;
}